p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 300px;
    height: 100px;
    background-color: orange;
    box-sizing: border-box;
}

.my-grid {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;

}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px #E38C1E;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100px;
    height: 100px;
}